<header id="header">
  <div class="row">
    <div class="logo">
      <img src="logo.png" alt="My Business" />
    </div>
    <nav
      class="d-flex justify-content-center align-items-center navbar fixed-top navbar-expand-lg navbar-light p-2 bg-danger"
    >
      <ul class="d-flex">
        <app-nav-link link="home" overrideScrollTo="header"></app-nav-link>
        <app-nav-link link="about"></app-nav-link>
        <app-nav-link link="services"></app-nav-link>
        <app-nav-link link="contact"></app-nav-link>
      </ul>
    </nav>
  </div>
</header>
