<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid bg-danger text-white py-5">
          <h1 class="text-center">Graeme's Aerials</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://via.placeholder.com/400x300"
          alt="placeholder"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci
          ac quam faucibus bibendum. Suspendisse aliquet, purus vel sollicitudin
          blandit, lorem augue tristique risus, vitae gravida nisl mi at mauris.
        </p>
        <p>
          Fusce id felis justo. Donec suscipit ac arcu ut vehicula. Fusce
          dapibus sapien eu mauris auctor, vel hendrerit nulla hendrerit.
          Praesent lacinia ut nulla non rhoncus. Nulla bibendum elit ut ante
          suscipit, quis suscipit eros bibendum. Nam vel est ac sapien congue
          convallis id at tellus.
        </p>
      </div>
    </div>
  </div>
</section>
