<section id="about" class="mb-5">
  <div class="container">
    <!-- <div class="row mb-5">
      <div class="col-md-12">
        <div class="container-fluid bg-danger text-white py-5">
          <h1 class="text-center">G & R Aerials and Satellites</h1>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <img
          src="assets/logo.jpg"
          alt="placeholder"
          class="img-fluid d-block mx-auto"
        />
      </div>
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>
          Welcome to G&R Aerials and Satellites! We specialize in aerial
          antenna, satellite, and CCTV home installations. With years of
          experience, our dedicated team ensures precise and expert
          installations for your entertainment and security needs.
        </p>
        <p>
          From crystal-clear aerial antenna reception to a wide range of
          satellite channels and cutting-edge CCTV systems, we offer
          personalized attention and tailored solutions. Trust G&R Aerials and
          Satellites to transform your home with top-quality installations that
          enhance your lifestyle and provide peace of mind. Contact us today for
          exceptional service and reliable results.
        </p>
      </div>
    </div>
  </div>
</section>
