<section id="services">
  <div class="container card shadow rounded p-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service">
          <img
            src="assets/Satellite-1.png"
            alt="placeholder"
            class="img-fluid service-img"
          />
          <h3>Satellites</h3>
          <p>
            Elevating your entertainment experience with expertly installed
            satellite dishes for crystal-clear picture quality
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img
            src="assets/cctv.jpg"
            alt="placeholder"
            class="img-fluid service-img"
          />
          <h3>CCTV</h3>
          <p>
            Enhancing your security with cutting-edge CCTV systems for
            round-the-clock protection
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img
            src="assets/van.jpeg"
            alt="placeholder"
            class="img-fluid service-img"
          />
          <h3>Serving the North East</h3>
          <p>
            Proudly serving the North East of England, delivering top-quality
            service to your doorstep.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
