<section id="services">
  <div class="container card shadow rounded p-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service">
          <img
            src="https://via.placeholder.com/400x300"
            alt="placeholder"
            class="img-fluid"
          />
          <h3>Service 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci
            ac quam faucibus bibendum.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img
            src="https://via.placeholder.com/400x300"
            alt="placeholder"
            class="img-fluid"
          />
          <h3>Service 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci
            ac quam faucibus bibendum.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img
            src="https://via.placeholder.com/400x300"
            alt="placeholder"
            class="img-fluid"
          />
          <h3>Service 3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci
            ac quam faucibus bibendum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
